<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href ="/css/styles.css">
<script src= "/js/app.js"></script>
</head>
<body> 
{{>header}} <br><br>
        
  <p> {{helpText}}</p>
      {{>footer}}
</body>
</html>